<div id="personal">
  <div class="personal_content content_section">

    <div class="personal_top">

      <h3>Personal Injury</h3>

      <div class="square_row p_pad">
        <div class="square practice_item">
          <div class="image_spacer">
            <img src="{{heroImage}}" alt="">
          </div>
        </div>

        <div class="image_adjacent_copy">
          <h5>Have you sustained a serious personal injury?</h5>
          <br>
          <ul class="dotted">
            <li>You need an attorney who will relentlessly fight to get you justice.</li>
            <li>Attorney Nick Mermiges isn’t afraid to take your case to the courthouse, and in front of a jury, if the
              insurance company isn’t treating you fairly.</li>
            <li>We are not a ‘high volume’ law firm, and you will never be treated like a number.</li>
            <li>We work to get you the biggest recovery, as quickly as possible.</li>
            <li>Free consultation. No fee unless we recover. Call
              <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
              <span class="micro_inline">(803)-724-1258</span>.</li>
          </ul>
          <br>
          <p>Attorney Nick Mermiges has litigated hundreds of personal injury cases throughout his career. He has
            handled jury trials and appeals. He knows what it takes to get a fair settlement, and knows when a case
            needs to go in front of a jury.</p>

        </div>

        <div class="clearfix"></div>

        <div>

          <p>Nick has been handling serious and catastrophic injury cases for over five years. Both of Nick’s parents
            are practicing physicians, so he’s no stranger to the medical system. Unlike many injury lawyers, Nick works
            to understand the medical diagnosis behind your injury. Nick has deposed dozens of testifying doctors
            including orthopedists, spinal surgeons, orthopedic surgeons, and more. Nick’s experience gives him the
            knowledge needed to fight back if the insurance company tries to deny your claim, or says that your
            condition is pre-existing. It also allows him to fight for a full recovery for the cost of your future care.
          </p>

          <p>Most importantly, as a former tort defense litigation attorney in fast paced Miami, Florida, Nick Mermiges
            knows how the insurance companies think. He knows how to influence them, and he knows how to show them your
            best case in order to get the biggest recovery.</p>

          <p>Attorney Nick Mermiges only takes serious injury cases. If you’re looking for an attorney who will treat
            your case seriously, call <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> for a free consultation.</p>

          <p class="no_pad">Nick’s practice includes:</p>

          <ul class="dotted">
            <li>Wrecks & Car accidents</li>
            <li>Truck accidents</li>
            <li>Medical Malpractice</li>
            <li>Work related injuries</li>
            <li>Negligent security (fights & shootings)</li>
            <li>Defective and dangerous products</li>
            <li>Slip and fall injuries</li>
          </ul>

          <br>
          <p class="no_pad">Nick has handled cases involving the following types of injuries:</p>
          <ul class="dotted">
            <li>Neck injuries</li>
            <li>Back injuries</li>
            <li>Spinal cord injuries</li>
            <li>Disc Herniations</li>
            <li>Bone Fractures</li>
            <li>Shootings</li>
            <li>Knee and shoulder tears</li>
            <li>Traumatic brain injuries</li>
            <li>Eye injuries</li>
            <li>Disfigurement</li>
            <li>Surgeries of all kinds</li>
          </ul>
          <br>
          <p>If you need help with any of these problems, call Nick today for a free consultation at
            <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span>.</p>
        </div>


      </div>


      <div class="clearfix"></div>


    </div>

  </div>
</div>
