<div id="divorce">
  <div class="divorce_content content_section">

    <div class="divorce_top">

      <h3>Divorce</h3>

      <div class="square_row p_pad">
        <div class="square practice_item">
          <div class="image_spacer">
            <img src="{{heroImage}}" alt="">
          </div>
        </div>

        <div class="image_adjacent_copy">
          <ul class="dotted">
            <li>Divorce cases can follow you for the rest of your life.</li>
            <li>What you do before you file suit can affect how your case unfolds.</li>
            <li>Divorce Attorney Nick Mermiges can help you plan, prepare and execute your divorce strategy, to put you
              in the position to have a fresh start in life.</li>
            <li>Whether your case involves simple asset division, or complex forensic accounting, Nick can help.</li>
          </ul>
          <br>
          <p>Approximately 50% of American marriages end in divorce. The process of getting divorced in South Carolina
            can be both extremely confusing and deeply unpleasant. If you aren’t properly informed and represented,
            it can also be financially devastating.  You need an attorney who can fight for your interests and give you
            complete information on what to expect. More importantly, you need an attorney who answers your questions,
            returns your phone calls, and makes you feel secure that your interests are being protected.</p>
        </div>

        <div class="clearfix"></div>

        <div>
          <p>Nick Mermiges has handled all types of divorce cases throughout the state of South Carolina , including
            military divorce (and pension division), fault based divorce, inter-state divorce, and more.</p>
          <p><a class="long" href="{{resourcesLink()}}">View Nick’s Informational Video on Grounds
            for Divorce in South Carolina</a></p>
          <p>Nick’s experience includes handling extremely complex divorce cases involving business valuation, asset
            concealment, comingling of funds, prenuptial agreements, dissipation of marital assets, and more.
            <a href="{{resourcesLink()}}" class="long">View Nick Mermiges’ Guide to High Asset and Complex Divorces</a>.
          </p>

          <p>Nick has been to court hundreds of times, and has taken hundreds of depositions in his life.  He has
            handled trials, appeals, contempt hearings, and more. He has a stellar academic background, having graduated
            in the top 5% of his law school class. Nick uses his knowledge and experience handling high stakes civil
            cases to help his divorce client’s achieve their goals as quickly as possible.</p>

          <p>Even if your divorce is relatively simple, or you think that most issues are going to be resolved, you need
            a skilled attorney to make sure that you’re getting a fair deal. You need someone who can help put you in
            the best position possible for a fresh start. For a free consultation with Nick, call
            <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> or email
            <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a>.
          </p>

          <p>Nick’s divorce practice includes:</p>

          <ul class="dotted">
            <li>Simple divorce</li>
            <li>Fault based divorce</li>
            <li>Military divorce</li>
            <li>Complex divorce</li>
            <li>Support & Maintenance actions</li>
            <li>Common law marriage</li>
            <li>Drafting and analyzing pre-nuptiual agreements</li>
            <li>Challenging previously entered divorce decrees</li>
            <li>Seeking modifications based on change of circumstance</li>
            <li>Appeals</li>
          </ul>

          <p>If you’re not sure whether the firm might take your case, feel free to call 803-724-1258 or email
            <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a> to ask.</p>

          <p>For more information about the divorce process, see our
            <a href="{{resourcesLink()}}">resources</a> section.
          </p>
        </div>


      </div>


      <div class="clearfix"></div>


    </div>

  </div>
</div>
