<p align="center"><strong><u><font color="black">High Asset & Complex Divorces in South Carolina.</font></u></strong></p>
<font color="black">
  <font color="black">
    <font color="black">
      <p align="left">Divorce is an unfortunate reality that many Americans have to face at some point in their lifetime. High asset divorces, where one or both spouses have significant assets or income, can be particularly rough. Many times, during a marraige, the high-earning spouse is the one in charge of all of the finances. They may use their wealth to exert control, which can be extremely oppressive. When marriages break down, the non-earning spouse can be uninformed about the financial status of the marriage, which creates a situation of extreme vulnerability. Picking the right attorney, who can help you plan and who can act swiftly to respond to financial maneuvering, can make a huge difference for both your short and your long term financial wellbeing. You don't want to be kept in the dark. Attorney Nick Mermiges knows what to look for, and will aggressively fight for your rights.
        <br><br>
        <b>Common issues in high asset/complex divorce cases</b>
        <br><br>
        While every case is different, there are a number of issues and concerns that recur in high asset cases. They primarily relate to the valuation of marital assets, the treatment of assets as marital vs. pre-marital, and the potential concealment of income/earnings.
        <br><br>
        <b>1. Spouse owns or runs one or more businesses.</b> <br>
        When someone owns a business, they can take a number of actions to manipulate their cash flow, assets and income to make the business appear more (or, during a divorce, less) successful. The owner may use business funds for personal expenses, to make their take home income look smaller -- this is particularly problematic when the spouse runs a busines that deals in cash. The owner may deliberately hold off on collecting accounts receivable (i.e., debts owed by customers) for a time, in order to report lower earnings. The owner may deliberately buy excess inventory, or make large capital investments, to change the balance sheet or cash flow. The owner may deliberately mortagage corporate assets and then hide the loaned funds elsewhere (in a private account, for example). The owner may even temporarily transfer their stake to a friend or family member in order to conceal an ownership interest.
        <br><br>
        The legal process in a divorce case provides for "discovery" which can help to undo or prevent a number of these dishonest acts, but you need an attorney who knows where to look. You also need an attorney who can act swiftly to obtain Court orders preventing the transfer or sale of marital assets. When it comes to discovering income, assets and earnings in a complex case, you can't just request tax returns or checking account statements. You need to request spendng records, LLC operating agreements, financing statements, loan applications, and more. You need to issue subpoenas to third parties, like banks, so that you're not relying on your spouse to make a full disclosure. <br><br> If a wealthy spouse tells the court that their income is $100,000, or that their business is only worth $250,000, but last year applied for a bank loan and claimed $400,000 in income, or $2 million in buisness valuation, this is strong evidence of the true value of the marital estate. Similarly, if the wealthy spouse claims an income of $150,000 per year, but their credit card shows that they spend $15,000 per month on clothing, jewlery, and luxury vehicles, then they must have an alternative source of income that they're hiding. <br><br>
        Attorney Nick Mermiges knows where to look, and knows how to explain these complex issues to the Court in a way that makes sense. He has worked with some of the best accounting experts in South Carolina in order to put forward clear evidence of business valuation, ownership interests and true income.
        <br><br>
        <b>2. Spouse has numerous holdings in land or other assets.</b> <br>
        Land and asset holdings pose many of the same problems as those associated with a small business. Beyond that, many land holdings and other complex assets may be "illiquid," meaning there isn't a market where you can sell the assets immediately. <br><br> By way of illustraton, Apple stock is a relatively "liquid" asset -- there are many, many shares of stock bought and sold every day. Becase of this, the the market can very easily set a fair sales price for Apple stock. You can find it by looking up what the stock was selling for yesterday, or even five minues ago. <br><br> In contrast, a 300 acre parcel of hunting land in Manning, SC isn't sold every day. You can't easily compare it to recent sales to come up with a fair price. It's an "illiquid" asset. When an asset is illiquid, it makes it much tougher to come up with a fair, clear value for the asset itself. If one spouse wants to "buy out" the other spouse in a divorce, the valuation question can become very complex (and critical to the bottom line). Under these circumstances, you need an attorney who can work with a skilled appraiser to get a fair valuation of the asset.
        <br><br>
        <b>3. Spouse has inheritance, trust, or started business before the marriage.</b> <br>
        When a marriage ends, South Carolina courts are empowered to equitably divide the <i>marital</i> property. This generally means assets acquired <i>during</i> the marriage, and does not tend to include inheritance, or pre-marital property. However, there are circumstances where pre-marital property can become marital -- this ususally occurs when assets are co-mingled, or where marital assets (including labor) are used to enhance the value of pre-marial assets. Where co-mingling has occurred, there may be a very detailed attempt to trace the assets -- they only become marital if they are untraceable. In contrast, spousal efforts to enhance value of pre-marital property can be either result in an award of 'special equity' for the other spouse's labor, or a finding that the property has become marital through the process of 'transmutation' (which is generally defined as intentionally treating pre-marital property as if it were marital property).
        <br><br>
        In simpler divorces, where the largest asset tends to be the marital home, and the parties' funds are held in savings or retirment accounts, these concepts are relatively straightforward. Where, however, there are financial dealings involving debt and credit, or where there is a business that has grown substantially since before the marriage, comingling, special equity, and transmutation become increasingly complex. If, for example, the parties co-sign on a mortgage for the marital home, and use the proceeds to expand a pre-marital business, this can constutute transmutation (or at the very least, comingingling), which would permit equitable distribution of at least part of an otherwise pre-marital asset.
        <br><br>
        <b>4. Prenuptial agreements.</b> <br>
        Many times, a wealthy spouse will ask for a prenuptial agreement. This is a very thorny area of law, as an incorrectly drafted prenuptial agreement could wind up being invalid. That being said, South Carolina permits extremely broad (i.e., harsh) prenuptial agreements between parties. Knowing the ins and outs of this issue is critical to getting a fair shake. Attorney Nick Mermiges has prepared a comprehensive <a href="prenup-whitepaper.html"><b>whitepaper on the scope and enforcement of prenuptial agreements</b></a>, which may shed some light on this issue for anyone concerned. <br><br>
        In high asset cases, you need a sharp, skilled, knowledgeable attorney who knows where to look. Nick Mermiges graduated in the top 5% of his University of Miami Law School class, and knows how to handle these complex issues. For a telephone consultation, feel free to call his Columbia, SC office at <u>(803)-724-1258</u> or email <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a> today.
      </p>
    </font>
  </font>
</font>
