#ajax-contact {
  label {
    display: none;
  }
  div {
    > div {
      margin: 16px 0;
    }
    &.form_side {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      + .form_side {
        margin-left: 6%;
      }
    }
    &.firstname, &.lastname {}
    &.button_container {
      text-align: right;
    }
  }
  input {
    border: 1px solid #9b9b9b;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    height: 46px;
    padding-left: 6px;
    width: 100%;
  }
  textarea {
    border: 1px solid #9b9b9b;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    width: 100%;
    height: 232px;
    padding: 6px;
  }
  button {
    background: #3fa9f5;
    border: none;
    color: #FFF;
    font-size: 18px;
    margin-right: 3.7%;
    margin-top: 10px;
    padding: 16px 51px;

    &[disabled] {
      color: lightgrey;
      background-color: grey;
    }
  }
}
