<div id="contact">
  <div class="contact_content content_section">
    <h3>Contact</h3>

    <div class="form_section">
      <div class="form_copy">
        <h4>GET YOUR FREE CONSULTATION<br>Call <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span></h4>
        <p>If you would like to contact us by email, please fill out this form and we will get back to you within one business day.</p>
      </div>

      <div id="form-messages"></div>

      <form #contactForm="ngForm" id="ajax-contact" (submit)="onFormSubmit()">
        <div class="left form_side">
          <div class="field firstname">
            <label for="fname">First Name:</label>
            <input type="text" [(ngModel)]="firstName" placeholder="First Name" id="fname" name="fname" required>
          </div>

          <div class="field lastname">
            <label for="lname">Last Name:</label>
            <input type="text" [(ngModel)]="lastName" placeholder="Last Name" id="lname" name="lname">
          </div>

          <div class="field">
            <label for="email">Email:</label>
            <input type="email" [(ngModel)]="email" placeholder="Email" id="email" name="email" required>
          </div>

          <div class="field">
            <label for="email">Phone:</label>
            <input type="tel" [(ngModel)]="phoneNumber" placeholder="Phone" id="phone" name="phone">
          </div>
        </div>
        <div class="right form_side">
          <div class="field">
            <label for="message">Message:</label>
            <textarea id="message" [(ngModel)]="message" placeholder="Message" name="message" required></textarea>
          </div>
        </div>

        <div class="field button_container">
          <button [disabled]="!contactForm.form.valid" type="submit">Send</button>
        </div>
      </form>

    </div>

    <div class="contact_copy">
      <h4>OFFICE LOCATION</h4>
      <div class="par">
        <p>1720 Main Street, Suite 202<br>Columbia, SC, 29201</p>
        <p>ph: +<a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span><br>fax: +803.724.1201</p>
      </div>
    </div>

    <div class="map_section">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.3715520839705!2d-81.03863458487947!3d34.008672527472676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8a4d40f4f24a7%3A0xbed951b1de406d9a!2s1720+Main+St+%23202%2C+Columbia%2C+SC+29201!5e0!3m2!1sen!2sus!4v1449537689305" width="1000" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  </div>
</div>
