<div class="hero_section">
  <div class="copy">
    <h1>DIVORCE, CUSTODY & INJURY LITIGATION</h1>

    <div class="btns">
      <a href="{{linkService.getPageLink('nick_mermiges')}}" id="learn_more">Learn More</a>
      <a href="{{linkService.getPageLink('contact')}}" id="get_in_touch">Get In Touch</a>
    </div>
  </div>
</div>
