.hero_section {
  background: transparent url('/assets/images/img_header_main.jpg') no-repeat top center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  div {
    &.copy {
      margin: 0 auto 0 2.750em;
      max-width: 44.375em;
      padding: 8.750em 0 11.875em 0;
      text-align: left;
      h1 {
        color: #fff;
        font-family: Merriweather, serif;
        font-size: 3.750em;
        font-weight: 300;
        margin: 3px 0 0 0;
      }
    }
    &.btns {
      font-size: 12px;
      margin: 1.750em 0 0 0;
      a {
        border: 2px solid #ddb545;
        color: #ddb545;
        display: inline-block;
        font-family: 'Merriweather', serif;
        font-size: 2.250em;
        font-weight: 300;
        margin: 0 1.500em 0 0;
        padding: 0.563em 1.438em;
        text-decoration: none;
        vertical-align: middle;
        &#get_in_touch {
          background: #ddb545;
          color: #FFF;
          margin: 0;
        }
      }
    }
  }
}
