<div id="civil">
  <div class="civil_content content_section">

    <div class="civil_top">

      <h3>Civil Litigation</h3>

      <div class="square_row p_pad">
        <div class="square practice_item">
          <div class="image_spacer">
            <img src="{{heroImage}}" alt="">
          </div>
        </div>

        <div class="image_adjacent_copy">
          <h5>Are you dealing with a breach of contract or business dispute?</h5>

          <p>Attorney Nick Mermiges has the skills and the experience you need to make things right. Call
            <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> for a free consultation today.</p>

          <p>Every business, and every business relationship, is different. You need an attorney who will take the time
            to get to know your business, the terms of your bargain, and the true damages you have suffered.
            Whether you’re dealing with a simple breach of contract case, or a complex fraud case involving
            misappropriation of funds, Nick can help you to recover what’s rightfully yours.</p>

          <p>Nick has substantial experience handling commercial litigation suits, including commercial breach of
            contract actions, indemnification actions, fraud and deceptive trade practices actions, and more. While
            working as an attorney in Miami, Florida, his practice included complex civil suits for both large corporate
            clients and small businesses. He brings all of these skills to the table on behalf of his clients.</p>

          <p>If you’re looking for an attorney with elite academic credentials who will take the time to understand your
            complex business dispute, call Nick at <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> or email
            <a href="mailto:nick@ndmlaw.com">Nick@NDMLaw.com</a>.</p>
        </div>

        <div class="clearfix"></div>

        <div>

        </div>


      </div>


      <div class="clearfix"></div>


    </div>

  </div>
</div>
