<div class="content_section paper_wrapper">
    <app-high-asset-divorce *ngIf="displayPaper('high_asset_divorce')"></app-high-asset-divorce>
    <app-grandparent-custody *ngIf="displayPaper('grandparent_custody')"></app-grandparent-custody>
    <app-prenup-paper *ngIf="displayPaper('prenup_paper')"></app-prenup-paper>
    <app-dui-law-paper *ngIf="displayPaper('dui_law')"></app-dui-law-paper>
</div>
