<div class="top_nav">

  <div class="title">
    <a href="">
      <p class="sub">Law Office of</p>
      <p class="main">Nick Mermiges</p>
    </a>
  </div>

  <div class="nav_items">
    <ul>
      <li *ngFor="let link of links">
        <a *ngIf="!link.sublinks" href="{{link.href}}">{{link.text}}</a>
        <a *ngIf="link.sublinks">{{link.text}}</a>
        <ng-container *ngIf="link.sublinks">
          <div class="submenu">
            <a *ngFor="let sublink of link.sublinks" href="{{sublink.href}}">{{sublink.text}}</a>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>

  <div class="clearfix"></div>

</div>
