/* nav section */
.top_nav {
  background: #FFF;
  color: #545b5e;
  min-height: 5.000em;
  padding: 0;
  div.title {
    cursor: pointer;
    float: left;
    font-family: 'Merriweather', serif;
    margin: 10px 0 10px 10px;
    a {
      color: #545b5e;
    }
    p {
      &.main {
        font-size: 3.5em;
        line-height: normal;
      }
      &.sub {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        line-height: 0.8em;
      }
    }
  }
}

.nav_items {
  float: right;
  margin: 0;
  ul {
    font-family: 'Raleway', sans-serif;
    font-size: 1.500em;
    font-weight: 300;
    margin: 1.6em 4.188em 0 0;
    li {
      background: #FFF;
      color: #515b5e;
      cursor: pointer;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      padding: 0.625em;
      -webkit-transition: background 0.3s, color 0.3s linear;
      -moz-transition: background 0.3s, color 0.3s linear;
      -ms-transition: background 0.3s, color 0.3s linear;
      -o-transition: background 0.3s, color 0.3s linear;
      transition: background 0.3s, color 0.3s linear;
      &:hover {
        background-color: #0c7693;
        color: #FFF;
      }
      a {
        color: #515b5e;
      }
      &:hover a {
        color: #FFF;
      }
      div.submenu {
        background: #0c7693;
        color: #FFF;
        display: none;
        font-size: 0.65em;
        left: 0;
        position: absolute;
        top: 3.75em;
        width: 174px;
        z-index: 1;
      }
      &:hover div.submenu {
        display: block;
      }
      div.submenu a {
        color: #FFF;
        display: block;
        padding: 10px;
        &:hover {
          background: #2b92b8;
        }
      }
      + li {
        display: inline-block;
        margin-left: 1.5em;
        vertical-align: middle;
      }
      &.active {
        color: #ddb545;
      }
      &.practice div.submenu {
        width: 230px;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  div.top_nav div.title p.main {
    font-size: 2.8em;
  }
}

@media only screen and (max-width: 1270px) {
  .top_nav, div.hero_section, .footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 990px) {
  div {
    &.top_nav {
      div.title {
        p.sub {
          line-height: 1.2em;
        }
        float: none;
        margin: 0;
        text-align: center;
        width: 100%;
      }
      background: #FFF;
      color: #545b5e;
      min-height: 5.000em;
      padding: 20px 0 0 0;
    }
    &.nav_items {
      float: none;
      margin: 0;
      text-align: center;
      width: 100%;
      ul {
        margin: 20px auto;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  div.top_nav div.title p.main {
    font-size: 3em;
  }
}

@media only screen and (max-width: 590px) {
  div.top_nav div.title p.sub {
    font-size: 1.2em;
  }
}