<div>
  <p style="text-align:center;"><strong><font color="black"><u>White Paper: Grandparents' Rights to Visitation and Custody in South Carolina</u></font></strong><font color="black">
  </font>
  </p>
  <p align="justify"></p>
  <p align="justify"><font color="black">In many families, grandparents wind up taking over some of the parenting duties. Most of the time, this simply involves babysitting, or spending a weekend with grand kids. Other times, however, grandparents’ take over as full time caregivers. This can happen for a variety of reasons, and it can sometimes lead to conflict.</font></p>
  <font color="black">
    <p align="justify">What happens, for example, when grandparents have cared for a grandchild for months or years, and then one of the biological parent(s) wants them back? Can the grandparents keep custody? What happens when parents get divorced, and all of a sudden the grandparents are denied visitation?</p>
    <p align="justify">South Carolina law provides some reasonably straightforward answers on both of these points, discussed below.</p>
    <p align="justify"><strong>(1) Grandparents Seeking Custody of Their Grandchildren Over the Objection of a Biological Parent.</strong></p>
    <p align="justify">South Carolina has long recognized the rights of non-parents to seek custody of a child, where said custody is in the child’s interests. <em>See e.g., Hogan v. Platts</em>, 312 S.C. 1, 430 S.E.2d 510 (1993); SC Code Ann. § 63-15-60.</p>
    <p align="justify">Generally, in order to have standing to seek <strong>custody</strong> (rather than simply visitation), a grandparent should meet the required criteria for a “De facto Custodian” under South Carolina law:</p>
    <div align="justify">
      <blockquote>&nbsp;</blockquote>
    </div>
    <blockquote>
      <p align="justify">SECTION 63-15-60. De facto custodian.</p>
      <p align="justify">(A) For purposes of this section, “de facto custodian” means, unless the context requires otherwise, a person who has been shown by clear and convincing evidence to have been the primary caregiver for and financial supporter of a child who:</p>
      <p align="justify">(1) has resided with the person for a period of six months or more if the child is under three years of age; or</p>
      <p align="justify">(2) has resided with the person for a period of one year or more if the child is three years of age or older.</p>
      <p align="justify">Any period of time after a legal proceeding has been commenced by a parent seeking to regain custody of the child must not be included in determining whether the child has resided with the person for the required minimum period.</p>
      <p align="justify">(B) A person is not a de facto custodian of a child until the court determines by clear and convincing evidence that the person meets the definition of de facto custodian with respect to that child. If the court determines a person is a de facto custodian of a child, that person has standing to seek visitation or custody of that child.</p>
      <p align="justify">(C) The family court may grant visitation or custody of a child to the de facto custodian if it finds by clear and convincing evidence that the child’s natural parents are unfit or that other compelling circumstances exist.</p>
      <p align="justify">(D) No proceeding to establish whether a person is a de facto custodian may be brought concerning a child in the custody of the Department of Social Services.</p>
      <p align="justify">(E) If the court has determined by clear and convincing evidence that a person is a de facto custodian, the court must join that person in the action as a party needed for just adjudication under the South Carolina Rules of Civil Procedure.</p>
    </blockquote>
    <p align="justify">Obviously, the key question is whether the minor child, if under the age of 3, has resided with the grandparent for a period of six months, or, if over the age of 3, for a year or more. The time the child lives with the grandparent after suit is filed does not count, so there are some circumstances where it may make sense to wait to bring suit in order to ensure standing.</p>
    <p align="justify">Once standing is established, as section (E) illustrates, a De facto custodian is entitled to be heard in any lawsuit pertaining to custody of the minor child.</p>
    <p align="justify">That being said, even where a De facto custodian or parental relationship exists, every family court in America is geared towards keeping children with their biological parents. The Supreme Court, in <em>Troxel v. Granville</em>, 530 US 57 (2000) held that parents have a fundamental constitutional right to “make decisions concerning the care, custody and control” of their biological children.</p>
    <p align="justify">But, of course, where parents fail to take responsibility for their children and neglect them, the state routinely takes away their custody. At the end of the day, the best interest of the child is the primary and controlling consideration of the Court in all child custody controversies. <a href="http://scholar.google.com/scholar_case?case=11297192789966059596&amp;q=Troxel+v.+Granville+and+custody&amp;hl=en&amp;as_sdt=4,41"><i>Moore v. Moore,</i> 300 S.C. 75, 386 S.E.2d 456 (1989)</a>. Thus, there is a “rebuttable presumption” that it is in the best interest of any child to be in the custody of its biological parent. <i>Id.</i></p>
    <p align="justify">Many times, when a conflict arises between grandparents and biological parents over custody, there is a history of irresponsibility by the biological parent. This may be evidence that would help to “rebut the presumption,”  and show that it is indeed in the child’s best interest to be in the grandparent’s custody.</p>
    <p align="justify">South Carolina Code 63-15-240(b) lays out a number of factors the courts will consider when weighing the best interests of the child:</p>
    <div align="justify">
      <blockquote>&nbsp;</blockquote>
    </div>
    <blockquote>
      <p align="justify">(B) In issuing or modifying a custody order, the court must consider the best interest of the child, which may include, but is not limited to:</p>
      <p align="justify">(1) the temperament and developmental needs of the child;</p>
      <p align="justify">(2) the capacity and the disposition of the parents to understand and meet the needs of the child;</p>
      <p align="justify">(3) the preferences of each child;</p>
      <p align="justify">(4) the wishes of the parents as to custody;</p>
      <p align="justify">(5) the past and current interaction and relationship of the child with each parent, the child’s siblings, and any other person, including a grandparent, who may significantly affect the best interest of the child;</p>
      <p align="justify">(6) the actions of each parent to encourage the continuing parent-child relationship between the child and the other parent, as is appropriate, including compliance with court orders;</p>
      <p align="justify">(7) the manipulation by or coercive behavior of the parents in an effort to involve the child in the parents’ dispute;</p>
      <p align="justify">(8) any effort by one parent to disparage the other parent in front of the child;</p>
      <p align="justify">(9) the ability of each parent to be actively involved in the life of the child;</p>
      <p align="justify">(10) the child’s adjustment to his or her home, school, and community environments;</p>
      <p align="justify">(11) the stability of the child’s existing and proposed residences;</p>
      <p align="justify">(12) the mental and physical health of all individuals involved, except that a disability of a proposed custodial parent or other party, in and of itself, must not be determinative of custody unless the proposed custodial arrangement is not in the best interest of the child;</p>
      <p align="justify">(13) the child’s cultural and spiritual background;</p>
      <p align="justify">(14) whether the child or a sibling of the child has been abused or neglected;</p>
      <p align="justify">(15) whether one parent has perpetrated domestic violence or child abuse or the effect on the child of the actions of an abuser if any domestic violence has occurred between the parents or between a parent and another individual or between the parent and the child;</p>
      <p align="justify">(16) whether one parent has relocated more than one hundred miles from the child’s primary residence in the past year, unless the parent relocated for safety reasons; and</p>
      <p align="justify">(17) other factors as the court considers necessary.</p>
    </blockquote>
    <p align="justify">While every case is different, some of the most critical factors include (1) whether there is a history of violence or neglect by any of the parties; (2) the amount of time the child has spent with the person presently in custody; and (3) how the child is presently doing (healthy, happy, doing well in school, etc). Separating children from their caregivers is extremely traumatic, so courts will have some reluctance to enter an order which would take a child out of a comfortable and safe environment.</p>
    <p align="justify">Ultimately, the issues are extremely fact intensive. Every case is different, and a trained professional will know which questions to ask.</p>
    <p align="justify"><strong>(2) Grandparents Seeking Visitation of Their Grandchildren Over the Objection of a Biological Parent.</strong></p>
    <p align="justify">Visitation rights are obviously less contentious than full custody, but the <em>Troxell </em>case specifically held that grandparents could not override the parent’s wishes, absent a special showing.</p>
    <p align="justify">In <a href="http://scholar.google.com/scholar_case?case=12650492330525607164&amp;q=Troxel+v.+Granville&amp;hl=en&amp;as_sdt=4,41"><i>Camburn v. Smith,</i> 355 S.C. 574, 586 S.E.2d 565 (2003)</a>, the South Carolina Supreme Court held that “before visitation may be awarded over a parent’s objection, one of two evidentiary hurdles must be met: t<strong>he parent must be shown to be unfit by clear and convincing evidence</strong>, or there must be <strong>evidence of compelling circumstances to overcome the presumption that the parental decision is in the child’s best interest</strong>.” <i>Id.</i> at 579-80, <a href="http://scholar.google.com/scholar_case?case=12650492330525607164&amp;q=Troxel+v.+Granville&amp;hl=en&amp;as_sdt=4,41">586 S.E.2d at 568</a>. As an example of a compelling circumstance, the <i>Camburn</i> court specifically mentioned a situation in which denying visitation would cause “significant harm to the child.” Id. at 579, <a href="http://scholar.google.com/scholar_case?case=12650492330525607164&amp;q=Troxel+v.+Granville&amp;hl=en&amp;as_sdt=4,41">586 S.E.2d at 568</a>.</p>
    <p align="justify">Thus, there must be some real evidence that the children will suffer in the absence of visitation from their grandparents, or alternatively, evidence that the biological parents are unfit.</p>
    <p align="justify">The required showing has since been codified in SC Code Ann. § 63-3-530A-33:</p>
    <div align="justify">
      <blockquote>&nbsp;</blockquote>
    </div>
    <blockquote>
      <p align="justify">(33)    to order visitation for the grandparent of a minor child where either or both parents of the minor child is or are deceased, or are divorced, or are living separate and apart in different habitats, if the court finds that:</p>
      <p align="justify">(1)    the child’s parents or guardians are unreasonably depriving the grandparent of the opportunity to visit with the child, including denying visitation of the minor child to the grandparent for a period exceeding ninety days; and</p>
      <p align="justify">(2)    the grandparent maintained a relationship similar to a parent-child relationship with the minor child; and</p>
      <p align="justify">(3)    that awarding grandparent visitation would not interfere with the parent-child relationship; and:</p>
      <p align="justify">(a)    the court finds by clear and convincing evidence that the child’s parents or guardians are unfit; or</p>
      <p align="justify">(b)    the court finds by clear and convincing evidence that there are compelling circumstances to overcome the presumption that the parental decision is in the child’s best interest.</p>
      <p align="justify">The judge presiding over this matter may award attorney’s fees and costs to the prevailing party.</p>
      <p align="justify">For purposes of this item, ‘grandparent’ means the natural or adoptive parent of any parent to a minor child</p>
    </blockquote>
    <p align="justify">The plain language of the statute leaves little room for visitation by grandparents where both of the biological parents remain married to one another. In order to establish a right to visitation under these circumstances, a grandparent would almost certainly have to come forth with evidence of abuse or neglect, or alternatively, evidence of some special relationship being cutoff for a spiteful reason.</p>
    <p align="justify">Again, every case is different and fact intensive. The longer a grandparent has had a relationship with a child, the more likely the grandparent is to get relief.</p>
  </font>
</div>
