/* WEB FONTS
  font-family: 'Open Sans', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto Slab', serif;
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.clearfix {
  width: 100%;
  clear: both;
}

.mobile, .mobile_inline {
  display: none;
}

.micro {
  display: block;
}

.micro_inline {
  display: inline;
}

html {
  overflow-y: scroll;
}

body {
  color: #7f7f7f;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  font-weight: 300;
}

h3 {
  color: #545b5e;
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  font-weight: 300;
  padding: 6% 0 7%;
  text-align: center;
  &:after {
    background: #545b5e;
    content: '';
    display: block;
    height: 1px;
    margin: 7px auto 0;
    width: 117px;
  }
  &.nopad_bot {
    padding-bottom: 0;
  }
}

h4 {
  padding: 1% 0 7% 0;
  text-align: center;
}

h5 {
  font-size: 1.3em;
  padding-bottom: 0.4em;
}

p.subhead {
  max-width: 630px;
  padding-bottom: 40px;
}

.p_pad p.nopad_bot {
  padding-bottom: 0;
}

a {
  color: #ddb545;
  text-decoration: none;
  white-space: nowrap;
}

article {
  margin-bottom: 20px;
}

/* main content container */

#main_content {
  margin: 0 10px;
}

#templates {
  display: none;
}

/* about */

/* square layout */

div {
  &.content_section {
    margin: 0 10%;
    &.paper_wrapper {
      margin: 40px auto;
    }
  }
  &.practice_content {
    padding-top: 6%;
  }
}

.square {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  &:nth-child(2n + 1) {
    margin-left: 3%;
  }
}

.square_row {
  margin-bottom: 3%;
}

.square.image img {
  display: block;
  width: 100%;
}

div.avvo_rating {
  margin-top: 8%;
  text-align: center;
  img {
    display: inline-block;
    max-width: 187px;
    vertical-align: middle;
    width: 25%;
    + img {
      margin-left: 20%;
    }
  }
}

.square {
  &.copy {
    padding: 0.5em 2em 0 2em;
  }
  &.title, &.practice_item {
    margin-bottom: 3%;
  }
  &.title {
    padding: 3% 4% 2.5% 4%;
    margin-left: 0;
    p {
      font-size: 1.313em;
    }
  }
  &.copy p {
    font-size: 1.1em;
    padding-bottom: 1.2em;
  }
  &.practice_item {
    background: #0c7693;
    cursor: pointer;
    h4 {
      color: #FFF;
      font-family: 'Merriweather', serif;
      font-size: 2.250em;
      margin: 6% 0 11% 0;
      text-align: center;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    div.divider {
      background: #FFF;
      height: 1px;
      margin: 6% auto 5%;
      width: 78%;
    }
    p.learn_more {
      color: #FFF;
      font-size: 1.500em;
      margin: 0 13% 3% 0;
      text-align: right;
    }
  }
}

/* modal */

#modal_overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

#modal_content {
  background: #FFF;
  display: none;
  left: 50%;
  margin: 0 0 0 -400px;
  min-height: 500px;
  min-width: 800px;
  padding: 50px 10px 20px;
  position: absolute;
  top: 100px;
  z-index: 4;
}

#close_modal {
  color: #6592d1;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
  line-height: 26px;
  position: absolute;
  right: 20px;
  top: 12px;
}

/* contact section */

.contact_content .form_copy {
  h4 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
  }
  p {
    max-width: 430px;
    width: 100%;
  }
}

div.form_section {
  margin: 36px 0;
}

#ajax-contact {
  label {
    display: none;
  }
  div {
    > div {
      margin: 16px 0;
    }
    &.form_side {
      display: inline-block;
      vertical-align: top;
      width: 45%;
      + .form_side {
        margin-left: 6%;
      }
    }
    &.firstname, &.lastname {}
    &.button_container {
      text-align: right;
    }
  }
  input {
    border: 1px solid #9b9b9b;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    height: 46px;
    padding-left: 6px;
    width: 100%;
  }
  textarea {
    border: 1px solid #9b9b9b;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    width: 100%;
    height: 232px;
    padding: 6px;
  }
  button {
    background: #3fa9f5;
    border: none;
    color: #FFF;
    font-size: 18px;
    margin-right: 3.7%;
    margin-top: 10px;
    padding: 16px 51px;
  }
}

#form-messages {
  color: #3fa9f5;
  padding: 10px 0 0;
}

div {
  &.contact_copy {
    text-align: center;
    width: 100%;
    h4 {
      font-family: 'Raleway', sans-serif;
      font-size: 36px;
    }
    div.par {
      margin: 15px 0 30px;
    }
  }
  &.map_section {
    margin-bottom: 30px;
    iframe {
      width: 100%;
      height: 350px;
    }
  }
  &.contact_copy div.par p {
    display: inline-block;
    line-height: 1.5em;
    margin-right: 30px;
    text-align: left;
    vertical-align: top;
  }
}

/* contact_thanks */

.contact_thanks_top {
  padding: 5% 0 10%;
}

.contact_thanks_content {
  h3 {
    padding-bottom: 5%;
  }
  p {
    text-align: center;
  }
}

/* resources section */

div {
  &.resource_items_container {
    margin-bottom: 40px;
    text-align: center;
    div {
      &.left, &.right {
        display: inline-block;
        text-align: left;
        vertical-align: top;
        width: 40%;
      }
    }
    h4 {
      border-bottom: 1px solid;
      font-size: 28px;
      margin-bottom: 20px;
      padding-bottom: 5px;
    }
    div.right {
      margin-left: 5%;
    }
    ul {
      list-style-type: disc;
      margin-left: 7%;
      li {
        padding-bottom: 20px;
        a {
          color: #545b5e;
          text-decoration: underline;
          white-space: normal;
        }
      }
    }
  }
  &.video_container {
    margin: 60px auto;
    width: 100%;
    max-width: 560px;
    text-align: center;

    .video_wrapper {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      text-align: center;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &.paper_wrapper {
    margin: 0 auto;
    max-width: 920px;
    width: 95%;

    table {
      border: 1px solid;
      border-collapse: collapse;
      margin: 0 auto 30px;
      padding: 0;
      td {
        border: 1px solid;
        padding: 5px;
      }
    }
    p {
      padding-bottom: 30px;
    }
    a {
      color: #515b5e;
    }
  }
  &.image_adjacent_copy {
    float: right;
    width: 49%;
  }
}

/* videos */

/* papers */

/* NICK MERMIGES SECTION */

.nick_top .square.image, .dui_top .square.practice_item, .divorce_top .square.practice_item, .custody_top .square.practice_item, .criminal_top .square.practice_item, .civil_top .square.practice_item, .personal_top .square.practice_item {
  cursor: auto;
  float: left;
  margin-bottom: 2%;
  margin-left: 0;
  margin-right: 3%;
}

.p_pad {
  p {
    font-size: 1.3em;
    padding-bottom: 1em;
  }
  ul.dotted {
    font-size: 1.2em;
  }
}

/* DUI Section */

ul.dotted {
  list-style-type: disc;
  margin: 0 0 0 6%;
  li {
    padding-bottom: 0.5em;
  }
}

.dui_top .square.practice_item {
  h4 {
    margin-bottom: 0;
  }
  div.image_spacer {
    padding-bottom: 13%;
    padding-top: 13%;
  }
}

.divorce_top .square.practice_item div.image_spacer,
.custody_top .square.practice_item div.image_spacer,
.criminal_top .square.practice_item div.image_spacer,
.civil_top .square.practice_item div.image_spacer,
.personal_top .square.practice_item div.image_spacer {
  padding-bottom: 13%;
  padding-top: 13%;
}

@media only screen and (max-width: 1270px) {
  /*
    MAYBE SWITCH THESE TO BODY,
    MAY HAVE MORE CONTROL THIS WAY THOUGH
  */
  div.hero_section div.btns {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1110px) {
  h3 {
    font-size: 2.1em;
  }
  .square {
    &.title p, &.copy p {
      font-size: 1.2em;
    }
  }
  .p_pad p, ul.dotted, .p_pad ul.dotted {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 990px) {
  /* square layout */
  .square {
    &:nth-child(2n) {
      margin-left: 3%;
    }
    &:nth-child(2n + 1) {
      margin-left: 0;
    }
    &.image {
      width: 100%;
    }
    &.copy {
      margin-right: 0;
      width: 100%;
    }
    &.title {
      margin-right: 0;
      width: 100%;
      padding: 2em 4em;
    }
    &.practice_item {
      img {
        width: 50%;
      }
      h4 {
        font-size: 1.8em;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  #ajax-contact div.form_side {
    width: 100%;
    margin: 0;
    + .form_side {
      width: 100%;
      margin: 0;
    }
  }
  .contact_content .form_copy {
    text-align: center;
    p {
      max-width: 100%;
    }
  }
  .square.practice_item h4 {
    font-size: 1.5em;
  }
  .nick_top .square.image, .dui_top .square.practice_item, .divorce_top .square.practice_item, .civil_top .square.practice_item, .criminal_top .square.practice_item, .custody_top .square.practice_item {
    display: block;
    float: none;
    margin: 0 auto 3%;
    width: 90%;
  }
  div.image_adjacent_copy {
    width: 100%;
  }
  .p_pad {
    p, ul.dotted {
      font-size: 1.2em;
    }
  }
}

@media only screen and (max-width: 640px) {
  .mobile {
    display: block;
  }
  .mobile_inline {
    display: inline;
  }
  .micro, .micro_inline {
    display: none;
  }
  h3 {
    font-size: 1.6em;
  }
  /* HERO SECTION */
  div {
    &.hero_section {
      background-size: 100% auto;
      min-height: 0;
      div {
        &.copy {
          margin: 0 auto;
          max-width: 300px;
          padding: 6em 0;
          font-size: 6px;
        }
        &.btns a {
          padding: 9px 12px;
          &#learn_more {
            margin-bottom: 0;
          }
        }
      }
    }
    &.content_section {
      margin: 0;
    }
    &.resource_items_container div {
      &.left, &.right {
        width: 100%;
        margin: 0 0 20px;
      }
    }
  }
  #modal_content {
    left: 0;
    margin-left: 0;
    min-height: 0;
    min-width: 0;
    width: 100%;
  }
  div {
    &.paper_wrapper {
      overflow-x: hidden;
    }
    &.footer div {
      &.left {
        float: none;
        text-align: center;
        margin-bottom: 20px;
      }
      &.right {
        float: none;
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
  /* FOOTER */
  /* square layout */
  .square {
    &.title, &.copy {
      padding: 2em 1em;
      margin-left: 0;
    }
    &.title, &.copy {
      font-size: 1em;
    }
    &.practice_item h4 {
      font-size: 1.5em;
    }
  }
}

@media only screen and (max-width: 590px) {
  /* HEADER */
  a.long {
    white-space: normal;
  }
  div {
    &.nav_items ul {
      margin-bottom: 0;
      li {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-left: 0;
        padding: 0;
        vertical-align: middle;
        width: 100%;
        + li {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          margin-left: 0;
          padding: 0;
          vertical-align: middle;
          width: 100%;
        }
        div.submenu, &.practice div.submenu {
          top: 3.4em;
          width: 100%;
        }
      }
    }
    &.hero_section {
      background-size: 100% 100%;
    }
  }
  /* SQUARE LAYOUT */
  .square.practice_item {
    margin-left: 0;
    width: 100%;
    img {
      width: 40%;
    }
  }
  div {
    &.avvo_rating img {
      width: 38%;
    }
    &.footer {
      padding: 20px 0;
    }
  }
  /* FOOTER */
  .p_pad {
    p, ul.dotted {
      font-size: 1em;
    }
  }
}
