<div id="nick_mermiges">
  <div class="nick_content content_section">

    <div class="nick_top">
      <h3>Who We Are</h3>

      <div class="square_row p_pad">
        <div class="square image">
          <img [src]="nickImage" alt="Nick Mermiges">
        </div>

        <p><b>Nick brings years of courtroom experience and an elite academic background to all of the cases he handles. Nick fights hard for his clients in order to accomplish their goals, and to protect their interests.</b></p>
        <p>Nick is originally from the suburbs of Detroit, Michigan. During High School, he played baseball and ice hockey, and won two state championships in debate. He attended the <b>University of Michigan in Ann Arbor</b> for his undergraduate education, where he served as an officer of the Sigma Phi fraternity.</p>
        <p>After graduating, Nick was awarded the "Dean's Merit Scholarship" and attended the <b>University of Miami School of Law</b> in Miami, Florida. During law school, Nick excelled academically, graduating in the <b>top 5% of all lawyers in his class</b>, and serving as a member of the University of Miami Law Review. After graduation, Nick was awarded the prestigious "Order of the Coif" by the school.</p>
        <p>Nick spent the first several years of his legal career practicing law in Miami, Florida. During this time he was able to gain invaluable experience handling trials and appeals covering a wide array of legal issues in a fast-paced and demanding environment. Nick worked for a Martindale Hubble AV rated litigation firm, and he was quickly recognized for his skill and determination in handling high-stakes cases. Within three years of graduating law school, Nick was promoted to manage a team of three associate attorneys and two paralegals, handling cases throughout South Florida. He handled numerous novel and complex legal issues at both the trial and appellate level, and obtained great results for his clients. He also gave several talks and presentations throughout the southeastern United States, covering a variety of legal subjects.</p>
        <p>While he was working full time and supervising this team of lawyers, Nick took and passed the South Carolina bar exam. Nick’s wife, who he met in law school, is a USC graduate and a Columbia, South Carolina native. Nick is an avid hiker and outdoorsman, and found himself repeatedly visiting Columbia, Greenville and Charleston to hike, camp, and enjoy the ocean. After about a dozen visits, Nick decided to move to South Carolina and put down roots. After more than a year of planning, Nick and his wife left their jobs in Miami and did just that.</p>
        <p>Nick has embraced the Palmetto State and his law practice has grown very quickly. The Law Office of Nick Mermiges, LLC now represents clients throughout the state of South Carolina, and handles a variety of cases including DUI Defense, Criminal Defense, Divorce, Custody, Family Law, Personal Injury, and Civil Litigation. Nick  feels blessed to be able to help people with their legal problems, and will continue expanding his practice in the years to come.</p>
        <p>Nick's #1 priority is serving his clients, and giving them the highest quality legal services at the best value. If you're interested in scheduling a free consultation in person or over the phone, email <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a> or call <u><a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span></u> today.</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>