<div class="video_container">
  <p *ngIf="!activeVideo">That video cannot be found.</p>
  <div *ngIf="activeVideo" class="video_wrapper">
    <iframe width="420" height="315" [src]="getUrl()" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
