<div id="about">
  <div class="about_content content_section">

    <div class="about_top">
      <h3 class="nopad_bot">You Deserve An Excellent Lawyer</h3>
      <h4>For a free consultation, call <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span>.</h4>

      <div class="square_row">
        <div class="square image">
          <img [src]="nickHero" alt=""/>
        </div>

        <div class="square copy">
          <p>When you're facing a legal problem, you want the best representation. You want to  know that there's someone who is doing everything that needs to be done to protect  your interests. You want an attorney who can quickly answer your questions, so that  you don't have to worry about your case.  At the Law Office of Nick Mermiges, LLC,  we pride ourselves on aggressively representing our clients' interests, so that  they can have peace of mind during a difficult time.</p>

          <p>Attorney Nick Mermiges, Esq. wants to give you excellent legal representation. Nick  graduated in the <u>top 5% of his law school class</u> at the University of Miami School of  Law, served as a member of the Law Review, and was inducted into the prestigious  Order of the Coif. He has been practicing law for over five years, and is a member of  numerous legal organizations. He has given numerous talks throughout the  southeastern United States. He has handled hundreds and hundreds of cases,  including civil and criminal jury trials and appeals. Nick has the elite academic skills  and the deep experience you need when you're facing a tough legal problem. Nick's  number one priority is making sure that his clients can rest easy knowing that  they've hired the right lawyer. Nick's office is located in downtown Columbia, SC,  and he handles cases throughout the state of South Carolina. To schedule a free  consultation with Nick Mermiges, call <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span> today.</p>
        </div>
      </div>

      <div class="square title">
        <h3>What We Practice</h3>
        <p>Nick Mermiges has broad and deep experience handling all kinds of criminal, civil  and family court cases. His practice areas include <a href="/page/divorce">Divorce</a>, <a href="/page/custody">Custody</a>, <a href="/page/personal">Personal Injury</a>, and <a href="/page/civil">Civil Litigation</a>.</p>
      </div>

      <!--{{#about_items}}-->
      <div *ngFor="let aboutItem of aboutItems" class="square practice_item">
        <a href="{{linkService.getPageLink(aboutItem.page)}}">
          <h4>{{aboutItem.title}}</h4>
          <div class="image_spacer">
            <img [src]="aboutItem.image" alt="">
          </div>
          <div class="divider"></div>
          <p class="learn_more">Learn More</p>
        </a>
      </div>
      <!--{{/about_items}}-->

      <div class="clearfix"></div>
    </div>



  </div>
</div>
