<div id="resources">

  <div class="resources_content content_section">
    <h3>Resources</h3>
    <div class="resource_items_container">
      <div class="left">
        <h4>Videos</h4>
        <ul>
          <li *ngFor="let video of videos">
            <a href="page/resources/videos/{{video.id}}">{{video.description}}</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <h4>Papers</h4>
        <ul>
          <li *ngFor="let paper of papers">
            <a href="page/resources/papers/{{paper.id}}">{{paper.description}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
