<div id="custody">
  <div class="custody_content content_section">

    <div class="custody_top">

      <h3>Custody</h3>

      <div class="square_row p_pad">
        <div class="square practice_item">
          <div class="image_spacer">
            <img src="{{heroImage}}" alt="">
          </div>
        </div>

        <div class="image_adjacent_copy">
          <br>
          <h5>Do you need help with a child custody issue?</h5>
          <p class="nopad_bot">Attorney Nick Mermiges handles all kinds of custody cases, including:</p>
          <br>
          <ul class="dotted">
            <li>Custody arising from divorce or separation</li>
            <li>Custody modifications</li>
            <li>One parent moving out of state</li>
            <li>Interstate custody disputes</li>
            <li>Military custody and deployment issues</li>
            <li>Grandparents’ custody</li>
            <li>Emergency/Expedited custody actions</li>
          </ul>
        </div>

        <div class="clearfix"></div>

        <div>
          <p>Child custody cases are some of the hardest, and most important disputes our legal system handles.
            Custody decisions shape the course of children and their parents’ lives. When you’re dealing with questions
            of custody, it’s absolutely critical that you have a skilled lawyer on your side to give you the advice you
            need, and to help you understand the process. For a free consultation with Nick, call
            <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> or <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a>.
          </p>

          <p>Attorney Nick Mermiges has handled custody cases throughout the State of South Carolina. He has handled
            numerous contested custody hearings and has been able to help grandparents, military parents, and parents
            whose children have been taken out of state to regain custody of their children. Nick has also handled
            expedited/emergency actions, and has helped numerous clients on very short notice.</p>

          <p>The custody process can be bitter, painful and expensive. There’s no getting around that truth. But many
            parents or grandparents feel the need to do everything they can to fight for their children. If you’re
            serious about keeping custody, regaining custody, or seeking a change in custody, attorney Nick Mermiges can
            give you the skilled representation you need. For a free consultation with Nick, call
            <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a>
            <span class="micro_inline">(803)-724-1258</span> or <a href="mailto:Nick@NDMLaw.com">Nick@NDMLaw.com</a>.
          </p>

          <p>For more information on custody matters, see our
            <a href="{{linkService.getPageLink('resources')}}">resources</a> section.
          </p>

        </div>


      </div>
      <div class="clearfix"></div>


    </div>

  </div>
</div>
