/* footer */

div.footer {
  background: #0c7693;
  color: #FFF;
  padding: 3.125em 4.688em;
  div {
    &.left {
      float: left;
    }
    &.right {
      float: right;
      text-align: right;
    }
  }
  p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.500em;
    font-weight: 300;
    line-height: 1.333em;
  }
}
