<div class="footer">
  <div class="footer_content">
    <div class="left">
      <p>Law Office of Nick Mermiges, LLC <br>1720 Main Street, Suite 202 <br>Columbia SC 29201</p>
    </div>
    <div class="right">
      <p>Telephone: <a class="mobile_inline" href="tel:+18037241258">(803)-724-1258</a><span class="micro_inline">(803)-724-1258</span> <br>Fax: 803-724-1201 <br>E-mail: Nick@NDMLaw.com</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
